body {
  /*background-color: #020216;*/
  color: white;
  font-family: 'Raleway', sans-serif;
  background: url("./picture/balloon.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#topWords {
  padding-top: 8%;
  font-size: 10vh;
  padding-bottom: 2%;
}

#data {
  font-size: 6vh;
  text-align: center;
}

#name {
  position: fixed;
  top: 90%;
  left: 40%;
  color: #000000;
  font-size: 2vh;
}
