body {
  /*background-color: #020216;*/
  color: white;
  font-family: 'Raleway', sans-serif;
  background: url("https://media2.s-nbcnews.com/i/MSNBC/Components/Video/__NEW/Capsule%20Balloon%20Space_131112.jpg") norepeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

#topWords {
  padding-top: 8%;
  font-size: 400%;
  padding-bottom: 2%;
}

#data {
  font-size: 250%;
  text-align: center;
}

#name {
  position: fixed;
  top: 90%;
  left: 40%;
}
